<div class="container text-center">
  <full-calendar 
  defaultView="dayGridMonth" 
  [plugins]="calendarPlugins" 
  [weekends]="false" 
  [events]="[
    { title: 'event 1', date: '2020-01-01'}
    ]"
  ></full-calendar>
</div>